.input {
  width: 100%;
  padding: 12px;
  border-radius: 4px;
  border: 1px solid #333;
  background-color: #282828;
  color: #fff;
  font-size: 14px;
  box-sizing: border-box;

  &::placeholder {
    color: #b3b3b3;
  }
}

.fieldError {
  color: #e91429;
  font-size: 12px;
  display: block;
  text-align: left;
  margin-top: 5px;
  padding-left: 5px;
}
