.card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #181818;
  border-radius: 0.5rem;
  border: 1px solid #282828;
}

.cardActive {
  border-color: #1db954;
}

.title {
  font-size: 1rem;
  font-weight: bold;
  color: #fff;
  line-height: 1.4;
}

.titleActive {
  color: #1db954;
}

.artist {
  font-size: 0.875rem;
  color: #b3b3b3;
  margin-top: 0.25rem;
  line-height: 1.4;
}

.actions {
  display: flex;
  align-items: center;
  gap: 0.625rem;
  position: relative;
}

.playButton {
  padding: 0.5rem 1rem;
  border-radius: 1.25rem;

  &:hover {
    background-color: #166532;
  }

  &[aria-pressed="true"] {
    background-color: #1db954;
  }
}

.removeButton {
  background-color: transparent;
  color: #e91429;
  border: 1px solid #e91429;
  width: 2.25rem;
  height: 2.25rem;
  border-radius: 50%;
  cursor: pointer;
  font-weight: bold;
  font-size: 0.875rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;

  &:hover {
    background-color: #e91429;
    color: #fff;
  }
}

.addButton {
  width: 2.25rem;
  height: 2.25rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    background-color: #1db954;
  }
}

.menu {
  background-color: #282828;
  border: 1px solid #3e3e3e;
  border-radius: 0.375rem;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.5);
  z-index: 1000;
  min-width: 11.25rem;
  max-height: 12.5rem;
  overflow-y: auto;

  & .menuIcon:not(:last-child) {
    margin-right: 0.5rem;
  }
}

.menuHeader {
  padding: 0.5rem 0.75rem;
  font-size: 0.875rem;
  color: #b3b3b3;
  border-bottom: 1px solid #3e3e3e;
  font-weight: bold;
}

.emptyMenu {
  padding: 0.5rem 0.75rem;
  font-size: 0.875rem;
  color: #b3b3b3;
}

.menuItem {
  width: 90%;
  text-align: left;
  background-color: transparent;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 0.25rem;
  margin: 5px;
  font-size: 0.875rem;
  outline: none;

  transition: background-color 0.3s ease-in-out, border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;

  &:hover {
    background-color: #181818;
  }

  &:focus-visible {
    border-color: #1db954;
    box-shadow: 0 0 0 3px rgb(16, 126, 54);
  }
}

:is(.playButton, .addButton) {
  background-color: #282828;
  color: #fff;
  border: none;
  cursor: pointer;
  font-weight: bold;
  font-size: 1rem;
  outline: none;
  transition: background-color 0.3s ease-in-out, border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;

  &:focus-visible {
    border-color: #1db954;
    box-shadow: 0 0 0 3px rgb(16, 126, 54);
  }
}

@media (prefers-reduced-motion: reduce) {
  .playButton, .addButton, .removeButton, .menuItem {
    transition: none;
  }
}
